*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fliid{
   display: flex;
}
main{
    width:100%;
    padding-left: 270px;
}
.sidebar{
    background-color:#009FFF;
    height: 100vh;
    width: 250px;
    position: fixed
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;

}
.logo{
    color: white;
    text-align: center;
    padding-top: 30px;
}
.link{
    text-decoration: none;
    color: white;
}
.link_title{
    padding: 15px 60px;
    transition: all 0.3s;
}

.link_title:hover{
    background-color: #009FFF;
    color: green;
}
.bars{
    position:fixed;
    right: 0;
    background-color: green;
    color: white;
    font-size: 30px;
    padding: 5px 10px;
    margin: 10px;
    display: none;
}

@media (max-width:991px) {
    .bars{
        display: block;
    }
    .sidebar{
        display: none;
    }
    .main{
        padding-left: 0px;
    }
}